* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #10111f;
    font-family: "Staatliches", sans-serif;
    color: white;
}

.memory-game-container {
    max-width: 640px;
    height: 450px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.3% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/*-------------------------------------Congratulation Modal ----*/
.modal-content {
    color: black;
}