* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #10111f;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Memory Game Container Styles */
.memory-game-container {
    max-width: 500px;
    height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Memory Card Styles */
.memory-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .2s;
}

/* Memory Card Flip Rotation */
.memory-card.flip {
    transform: rotateY(180deg);
}

/* The front and back facing cards styles */
.front-face,
.back-face {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

/* Flips the front facing card 180 degrees */
.front-face {
    transform: rotateY(180deg);
}

/* Modal Content */
.modal-content {
    color: black;
}